body {
height: 1000px;
position: relative;
}
.statico {
background-color: aquamarine;
padding: 10px;
}
.relativo {
background-color: aqua;
position: relative;
top: 20px;
left: 20px;
}
.absoluto {
background-color: blue;
position: absolute;
top: 200px;
left: 100px;
padding: 10px;
}
.fijo {
background-color:brown ;
color:antiquewhite;
padding: 10px;
position: fixed;
bottom: 10px;
right: 10px;
}